.button-out-thunder {
    background-color: unset;
    border-radius: 7px;
    transition: all 400ms;
    color: var(--thunder);
    font-size: 15px;
    border: 1px solid var(--thunder);
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background-color: var(--thunder);
        color: white;
    }
}
.button-out-copper {
    background-color: unset;
    border-radius: 7px;
    transition: all 400ms;
    color: var(--copper);
    font-size: 15px;
    border: 1px solid var(--copper);
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background-color: var(--copper);
        color: white;
    }
}
.button-thunder {
    background-color: var(--thunder);
    border: 1px solid var(--thunder);
    border-radius: 7px;
    transition: background-color color 400ms;
    color: var(--white);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    &:hover {
        background-color: var(--thunder-dark);
        border: 1px solid var(--thunder-dark);
    }
}
.button-copper {
    background-color: var(--copper);
    border: 1px solid var(--copper);
    border-radius: 7px;
    transition: all 400ms;
    color: var(--white);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    &:hover {
        background-color: var(--copper-dark);
        border: 1px solid var(--copper-dark);
    }
}
