

input{
    background-color: var(--background-color4) !important;
    border: none !important;
    color: var(--cotton-seed) !important;
    height: calc(1.5em + 1.25rem + 2px) !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    &:focus-within{
        box-shadow: none !important;
        background-color: var(--background-color4-light) !important;
    }
}
textarea{
    background-color: var(--background-color4) !important;
    border: none !important;
    color: var(--cotton-seed) !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    &:focus-within{
        box-shadow: none !important;
        background-color: var(--background-color4-light) !important;
    }
}

select{
    background-color: var(--background-color4) !important;
    border: none !important;
    color: var(--cotton-seed) !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    &:focus-within{
        box-shadow: none !important;
        background-color: var(--background-color4-light) !important;
    }
    option{
        color: var(--cotton-seed) !important;
    }
}