.profile-container {
    .profile-character-img-col {
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 0;
        .profile-character-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: 100% 35%;
            position: absolute;
            z-index: 0;
        }
        .profile-character-row {
            padding: 0;
            margin: 0;
            position: absolute;
            left: 100px;
            bottom: 70px;
            background-color: var(--body);
            height: 100px;
            width: 700px;
            border-radius: 5px;
            .profile-character-items {
                padding: 0;
                margin: 0;
                .profile-character-item-title {
                    color: white;
                    text-align: center;
                    font-size: 0.9;
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                }
                .profile-character-item {
                    color: white;
                    text-align: center;
                    font-size: 12px;
                    margin-top: 5px !important;
                    opacity: 0.8;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .profile-navbar-row {
            position: absolute;
            bottom: 0%;
            left: 50%;
            width: 700px;
            transform: translateX(-50%);
            text-align: center;
            z-index: 1;
            .profile-item {
                padding-top: 10px;
                padding-bottom: 10px;
                color: white;
                cursor: pointer;
                letter-spacing: 0.04em;
                transition: 400ms color ease-in-out;
                &:hover {
                    &::before {
                        background-color: var(--scarpa-flow);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    -webkit-transition: background-color 0.2s ease-in-out;
                    -o-transition: background-color 0.2s ease-in-out;
                    transition: background-color 0.2s ease-in-out;
                    -webkit-transform: skew(-4deg) scaleX(0.972);
                    -ms-transform: skew(-4deg) scaleX(0.972);
                    transform: skew(-4deg) scaleX(0.972);
                    z-index: -1;
                }
            }
            .active {
                &::before {
                    background-color: var(--body);
                }
            }
        }
    }
    .active-show {
        display: block !important;
        width: 100%;
        height: 100%;
    }
    .profile-information-row {
        display: none;
        .profile-title {
            color: white;
            font-size: 22px;
            font-weight: 500;
        }
        .profile-table {
            .title {
                color: var(--abbey);
            }

            .item {
                color: white;
            }
        }
    }

    .profile-character-row {
        display: none;
        .profile-character-title {
            color: white;
            font-size: 22px;
            font-weight: 500;
        }
        .profile-character-table {
            .character-title {
                color: var(--abbey);
            }

            .character-item {
                color: white;
            }
        }
    }

    .profile-messages-row {
        display: none;
        .profile-messages-button-row {
            position: relative;
            width: 100%;
            height: 47px;
            .profile-messages-buttons {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                height: 47px;
                left: 50%;
                top: 50%;
                -webkit-transform: translateX(-50%) translateY(0%);
                -moz-transform: translateX(-50%) translateY(0%);
                transform: translateX(-50%) translateY(0%);
                .active-messages {
                    &::before {
                        background-color: var(--background-color1) !important;
                    }
                }
                .profile-messages-button {
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                    position: relative;
                    padding: 10px;
                    display: inline-block;
                    color: white;
                    cursor: pointer;
                    transition: 400ms color ease-in-out;
                    &:hover {
                        &::before {
                            background-color: var(--scarpa-flow);
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 3px;
                        -webkit-transition: background-color 0.2s ease-in-out;
                        -o-transition: background-color 0.2s ease-in-out;
                        transition: background-color 0.2s ease-in-out;
                        -webkit-transform: skew(-4deg) scaleX(0.972);
                        -ms-transform: skew(-4deg) scaleX(0.972);
                        transform: skew(-4deg) scaleX(0.972);
                        z-index: -1;
                    }
                }
            }
        }

        .profile-messages-inbox-row {
            display: none;
            .profile-message-inbox-container {
                border-radius: 10px;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: var(--background-color4);
                cursor: pointer;
                transition: background-color 200ms ease-in-out;
                &:hover {
                    background-color: var(--background-color4-light);
                }
                .profile-messages-image-row {
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    img {
                        object-fit: cover;
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                    }
                }
                .profile-messages-inbox-box-row {
                    display: inline-block;
                    .profile-messages-inbox-title {
                        color: white;
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .profile-messages-inbox-date {
                        font-size: 13px;
                        opacity: 0.7;
                        padding: 0;
                        margin-top: -10px;
                        margin-left: 35px;
                        color: white;
                    }
                    .profile-messages-inbox-desc {
                        margin-top: 20px;
                        font-size: 14px;
                        color: white;
                    }
                }
            }
        }

        .profile-messages-new-ticket-row {
            display: none;
        }
    }
    .profile-settings-container {
        .profile-setting-items {
            padding-top: 20px;
            padding-bottom: 20px;
            color: white;
            cursor: pointer;
            letter-spacing: 0.04em;
            transition: 400ms color ease-in-out;
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                position: absolute;
                background-color: var(--background-color3);
                opacity: 0.7;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-transition: background-color 0.2s ease-in-out;
                -o-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;
                -webkit-transform: skew(-4deg) scaleX(0.972);
                -ms-transform: skew(-4deg) scaleX(0.972);
                transform: skew(-4deg) scaleX(0.972);
                z-index: -1;
            }
        }
    }
}
