.homepage-header-container {
    z-index: 3;
    min-height: 70px;
    .slider-image-row {
        width: 100%;
    }
    .kenburns-bottom {
        -webkit-animation: kenburns-center 20s ease-out infinite both;
        animation: kenburns-center 20s ease-out infinite both;
    }
    .slick-active {
        overflow: hidden;
        visibility: visible !important;
    }
    .slick-slide {
        visibility: hidden;
    }

    @-webkit-keyframes kenburns-center {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
        }
        100% {
            -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
            -webkit-transform-origin: center;
            transform-origin: center;
        }
    }
    @keyframes kenburns-center {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
        }
        100% {
            -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
            -webkit-transform-origin: center;
            transform-origin: center;
        }
    }
    .homepage-header-row {
        position: absolute;
        width: 60%;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 50%);
        .homepage-header-logo {
            color: var(--white);
            cursor: pointer;
        }
        .homepage-header-name {
            color: var(--white);
            cursor: pointer;
        }
        .header-marketplace{
            cursor: pointer;
            color: var(--white);
            transition: 400ms color ease-in-out;
            &:hover{
                color: var(--hover-color);
            }
        }
        .homepage-header-auth {
            color: var(--white);
            cursor: pointer;
            transition: all 400ms ease;
            &:hover {
                color: var(--hover-color);
            }
        }

        .header-login-dropdown-container {
            position: relative;
            color: var(--white);
            .dropdown-title {
                cursor: pointer;
            }
            .header-login-dropdown-items {
                position: absolute !important;
                padding-top: 40px;
                top: 25px;
                right: 10px;
                min-height: 300px;
                width: 300px;
                animation: swing-in-top-fwd-reverse 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                z-index: 4;
                .dropdown-items{
                    z-index: 3;
                }
            }
            .auth-active {
                position: absolute;
                border-radius: 15px;
                border: 1px solid var(--scarpa-flow);
                padding-top: 40px;
                top: 25px;
                right: 10px;
                min-height: 300px;
                width: 300px;
                background-color: var(--background-color3);
                box-shadow: 0 4px 20px rgb(31 29 41 / 40%);
                will-change: transform, opacity;
                animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
                z-index: 3 !important;
                @keyframes swing-in-top-fwd {
                    0% {
                        transform: rotateX(-70deg);
                        transform-origin: center;
                        opacity: 0;
                    }
                    100% {
                        transform: rotateX(0deg);
                        transform-origin: center;
                        opacity: 1;
                    }
                }
                @keyframes swing-in-top-fwd-reverse {
                    0% {
                        transform: rotateX(0deg);
                        transform-origin: center;
                        opacity: 0.5;
                    }
                    100% {
                        transform: rotateX(-50deg);
                        transform-origin: center;
                        opacity: 0;
                    }
                }
            }
        }

        .header-dropdown-col {
            color: white;
            cursor: pointer;
            position: relative;
            &:hover {
                .header-dropdown-ul {
                    display: block;
                }
            }
            
            .header-dropdown-ul {
                position: absolute;
                display: none;
                background-color: var(--background-color4-light);
                width: 100px;
                height: 100px;
                left: 5px;
                padding: 0;
                padding-top: 20px;
                border-radius: 10px;
                border: 1.5px solid var(--scarpa-flow);
                top: 22px;
                left: -5px;
                .header-dropdown-li {
                    width: 50px;
                    margin-left: 25px;
                    list-style: none;
                    &:first-child {
                        margin-top: 0;
                    }
                    margin-top: 7px;
                    &:hover {
                        color: var(--red-robin);
                    }
                }
            }
            .header-dropdown-title{
                color: var(--white);
                transition: 400ms color ease-in-out;
                &:hover{
                    color: var(--hover-color);
                }
            }
        }
    }
}
