<template>
  <div>
    <div
      class="
        col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-11
        mx-auto
        mt-5
        profile-settings-container
      "
    >
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-8 col-sm-9 col-xs-11 mx-auto profile-setting-items">
          <div class="col-12 text-white text-center mb-3">Change Password</div>
          <div class="row">
            <div
              class="col-xl-9 col-lg-10 col-md-11 col-sm-11 col-xs-11 mx-auto"
            >
              <input
                type="password"
                class="form-control"
                placeholder="Current Password"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div
              class="col-xl-9 col-lg-10 col-md-11 col-sm-11 col-xs-11 mx-auto"
            >
              <input
                type="password"
                class="form-control"
                placeholder="New Password"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div
              class="col-xl-9 col-lg-10 col-md-11 col-sm-11 col-xs-11 mx-auto"
            >
              <input
                type="password"
                class="form-control"
                placeholder="New Password Again"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="
                col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-9
                mx-auto
                mt-4
              "
            >
              <button class="button-thunder btn-block">Change Password</button>
            </div>
          </div>
        </div>
        <div
          class="col-xl-7 col-lg-7 col-md-8 col-sm-9 col-xs-11 mx-auto profile-setting-items mt-5"
        >
          <div class="col-12 text-white text-center mb-3 mt-4">
            Change Email
          </div>
          <div class="row">
            <div
              class="col-xl-9 col-lg-10 col-md-11 col-sm-11 col-xs-111 mx-auto"
            >
              <input
                type="text"
                class="form-control"
                :value="'cetn.furkan.5@gmail.com'"
                disabled
              />
            </div>
          </div>
          <div class="row">
            <div
              class="
                col-xl-9 col-lg-10 col-md-11 col-sm-11 col-xs-11
                mt-3
                mx-auto
              "
            >
              <input
                type="password"
                class="form-control"
                placeholder="New Email"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="
                col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-9
                mx-auto
                mt-4
              "
            >
              <button class="button-thunder btn-block">Change Email</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    width: null
  }),
  created () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize () {
      this.width = window.innerWidth
    }
  }
}
</script>
