<template>
  <div class="profile-character-img-col">
    <img
      src="@/assets/images/header/1.jpg"
      class="profile-character-img"
      alt=""
    />
    <div class="row profile-character-row d-flex align-items-center">
      <div class="col-3 profile-character-items">
        <div class="col-12 profile-character-item-title">Character Name</div>
        <div class="col-12 profile-character-item">Scratch</div>
      </div>
      <div class="col-2 profile-character-items">
        <div class="col-12 profile-character-item-title">Class</div>
        <div class="col-12 profile-character-item">Rod Male</div>
      </div>
      <div class="col-2 profile-character-items">
        <div class="col-12 profile-character-item-title">Level</div>
        <div class="col-12 profile-character-item">250</div>
      </div>
      <div class="col-2 profile-character-items">
        <div class="col-12 profile-character-item-title">Bank Gold</div>
        <div class="col-12 profile-character-item">15M</div>
      </div>
      <div class="col-2 profile-character-items">
        <div class="col-12 profile-character-item-title">Character Gold</div>
        <div class="col-12 profile-character-item">10M</div>
      </div>
    </div>
    <div class="row m-0 p-0 profile-navbar-row d-flex align-items-center">
      <router-link
        tag="div"
        to="/profile/home"
        active-class="active"
        class="
          col-3
          profile-item
          d-flex
          align-items-center
          justify-content-center
        "
        >Profile</router-link
      >
      <router-link
        tag="div"
        to="/profile/characters"
        active-class="active"
        class="
          col-3
          profile-item
          d-flex
          align-items-center
          justify-content-center
        "
        >Characters</router-link
      >
      <router-link
        tag="div"
        to="/profile/messages/inbox"
        :class="{
          active:
            route === '/profile/messages' ||
            route === '/profile/messages/inbox' ||
            route === '/profile/messages/new-ticket'
        }"
        class="
          col-3
          profile-item
          d-flex
          align-items-center
          justify-content-center
        "
        >Messages</router-link
      >
      <router-link
        tag="div"
        to="/profile/settings"
        active-class="active"
        class="
          col-3
          profile-item
          d-flex
          align-items-center
          justify-content-center
        "
        >Settings</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    route () {
      return this.$route.path
    }
  }
}
</script>
