<template>
        <div>
      <div class="col-12">
        <div class="col-9 profile-character-title mt-5 text-center">
          Characters
        </div>
    </div>
      <table class="col-4 mx-auto table table-borderless profile-character-table mt-3">
        <thead>
          <tr>
            <th scope="col" class="character-title">Name</th>
            <td class="character-item">[HGM]deVille</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col" class="character-title">Class</th>
            <td class="character-item">Male Blade / Dark Lord</td>
          </tr>
          <tr>
            <th scope="col" class="character-title">EXP</th>
            <td class="character-item">15B</td>
          </tr>
        </tbody>
      </table>
    </div>
</template>
