<template>
  <div>
    <div class="col-12">
      <div class="col-9 profile-title mt-5 text-center">Profile</div>
    </div>
    <table class="col-4 mx-auto table table-borderless profile-table mt-3">
      <thead>
        <tr>
          <th scope="col" class="title">First name</th>
          <td class="item">Furkan</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col" class="title">Second name</th>
          <td class="item">Cetin</td>
        </tr>
        <tr>
          <th scope="col" class="title">Email</th>
          <td class="item">cetnfurkan.5@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
