<template>
  <div>
    <div @click="showMenu = !showMenu" class="mobile-menu-icon text-white">
      <icon name="align-justify"></icon>
    </div>

    <div
      class="mobile-menu-container"
      :class="{
        'mobile-menu-active': showMenu,
        'mobile-menu-passive': !showMenu
      }"
    >
      <div class="mobile-menu-items">
        <div @click="showMenu = !showMenu" class="mobile-menu-close-icon">
          <icon name="times" color="white"></icon>
        </div>
        <div class="row mobile-menu-title-row">
          <div class="col-12 mobile-menu-title text-center">HOPS</div>
        </div>
        <div class="row mobile-menu-nav-row">
          <ul class="mobile-menu-ul">
            <li class="mobile-menu-li">Homepage</li>
            <li class="mobile-menu-li">Profile</li>
          </ul>
        </div>
      </div>
      <div class="mobile-menu-blur"></div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    showMenu: false,
    show: false
  })
}
</script>
