.consignment-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: var(--consignment-bg-light) !important;
    overflow: hidden;
    .consignment-header {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: #402d1f;
        color: var(--consignment-color);
        .consignment-header-close-icon {
            position: absolute;
            right: 80px;
            top: 7px;
        }
        .consignment-header-right-icon {
            position: absolute;
            right: 10%;
            top: 10%;
            width: 100px;
            transform: translate(230%, -20%) rotate(-30deg);
        }
        .consignment-header-left-icon {
            position: absolute;
            left: 10%;
            top: 10%;
            width: 100px;
            transform: translate(-230%, -27%) rotate(30deg);
        }
    }
    .consignment-pages-button-row {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }
    .consignment-input-area {
        position: relative;
        height: auto;
        max-width: 97%;
        background-color: var(--consignment-bg-dark);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        .name-col {
            color: var(--consignment-color);
        }
        .enhancement-col {
            color: var(--consignment-color);
            input {
                width: 75px;
                &:last-child {
                    margin-left: 20px;
                }
            }
        }
        .price-col {
            color: var(--consignment-color);
            label {
                width: 46.72px !important;
            }
            input {
                width: 96px;
                &:last-child {
                    margin-left: 13px;
                }
            }
        }
        .usable-item-col {
            color: var(--consignment-color);
        }
        .disc-item-col {
            color: var(--consignment-color);
        }
    }
    .consignment-item-area {
        position: relative;
        height: 100%;
        max-width: 97%;
        bottom: 0;
        background-color: var(--consignment-bg-dark);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        .consingment-item-filter-container {
            min-height: 650px;
            max-height: 650px;
            color: var(--consignment-color);
        }
        .consignment-dropdown-row {
            .consignment-dropdown-title{
                cursor: pointer;
                &:hover{
                    color: var(--consignment-hover-color);
                }
            }
            .consignment-dropdown-items {
                display: none !important;
                margin-top: 8px !important;
                list-style: none;
                display: block;
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 14px;
                .consignment-dropdown-item {
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        color: var(--consignment-hover-color);
                    }
                }
            }
            .show-active{
                display: block !important;
            }
        }
    }
}

.consignment-button {
    background-color: var(--button-bg);
    color: var(--consignment-color);
    border-radius: 7px;
    border: 1px solid var(--button-boder);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        color: var(--consignment-hover-color);
    }
}
.consignment-input {
    background-color: var(--consignment-input-bg) !important;
    height: calc(1.5em + 0.5rem + 2px) !important;
    border: 1.5px solid var(--consignment-border) !important;
    border-radius: 5px;
    &:focus-within {
        box-shadow: none !important;
        background-color: var(--consignment-input-bg) !important;
        outline: none;
    }
}
