.news-container {
    .news-image-col {
        position: relative;
        text-align: center;
        .news-image {
            max-width: 99%;
            height: auto;
            transition: max-width 400ms ease-in-out;
            cursor: pointer;
            &:hover {
                max-width: 100%;
            }
        }
        .news-image-version {
            position: absolute;
            color: white;
            left: 30px;
            bottom: 10px;
            opacity: 0.6;
            font-size: 15px;
        }
    }
    .news-title {
        font-size: 22px;
        margin-bottom: 4px;
        color: white;
    }
    .news-date {
        opacity: 0.7;
        font-size: 14px;
        color: white;
    }
    .news-desc {
        font-size: 16px;
        color: white;
        opacity: 0.9;
    }
    .news-button {
        font-size: 17px;
        color: white;
        transition: color 400ms ease;
        cursor: pointer;
        &:hover {
            color: var(--hover-color);
        }
    }
}
