<template>
  <div class="profile-messages-button-row">
    <div class="profile-messages-buttons">
      <router-link
        tag="div"
        to="/profile/messages/inbox"
        active-class="active-messages"
        class="profile-messages-button"
      >
        Inbox
      </router-link>
      <router-link
        tag="div"
        to="/profile/messages/new-ticket"
        active-class="active-messages"
        class="profile-messages-button"
      >
        New Ticket
      </router-link>
    </div>
  </div>
</template>
