<template>
  <div>
    <div
      class="
        profile-message-inbox-container
        col-xl-5 col-lg-6 col-md-7 col-sm-8 col-xs-9 col-10
        mt-5
        mx-auto
        d-flex
        align-items-center
      "
    >
      <div class="profile-messages-image-row">
        <img src="@/assets/images/header/1.jpg" alt="" />
      </div>
      <div class="row p-0 m-0 mx-auto profile-messages-inbox-box-row">
        <div class="col-12 profile-messages-inbox-title">Heisenberg</div>
        <div class="col-12 profile-messages-inbox-date">
          10th January 2021 at 6:29 am
        </div>
        <div class="col-12 profile-messages-inbox-desc">
          Vestibulum vulputate nunc faucibus mauris. Nulla vel tortor.
        </div>
      </div>
    </div>
    <div
      class="
        profile-message-inbox-container
        col-xl-5 col-lg-6 col-md-7 col-sm-8 col-xs-9 col-10
        mt-5
        mx-auto
        d-flex
        align-items-center
      "
    >
      <div class="profile-messages-image-row">
        <img src="@/assets/images/header/1.jpg" alt="" />
      </div>
      <div class="row p-0 m-0 mx-auto profile-messages-inbox-box-row">
        <div class="col-12 profile-messages-inbox-title">deVille</div>
        <div class="col-12 profile-messages-inbox-date">
          10th January 2021 at 6:29 am
        </div>
        <div class="col-12 profile-messages-inbox-desc">
          Vestibulum vulputate nunc faucibus mauris. Nulla vel tortor.
        </div>
      </div>
    </div>
    <div
      class="
        profile-message-inbox-container
        col-xl-5 col-lg-6 col-md-7 col-sm-8 col-xs-9 col-10
        mt-5
        mx-auto
        d-flex
        align-items-center
      "
    >
      <div class="profile-messages-image-row">
        <img src="@/assets/images/header/1.jpg" alt="" />
      </div>
      <div class="row p-0 m-0 mx-auto profile-messages-inbox-box-row">
        <div class="col-12 profile-messages-inbox-title">Scratch</div>
        <div class="col-12 profile-messages-inbox-date">
          10th January 2021 at 6:29 am
        </div>
        <div class="col-12 profile-messages-inbox-desc">
          Vestibulum vulputate nunc faucibus mauris. Nulla vel tortor.
        </div>
      </div>
    </div>
  </div>
</template>
