<template>
  <div class="col-7 mx-auto mt-5">
    <div class="row mx-auto p-0 m-0">
      <div class="col-6 mx-auto">
        <input type="text" class="form-control" placeholder="Subject" />
      </div>
    </div>
    <div class="row mx-auto p-0 m-0 mt-3">
      <div class="col-6 mx-auto">
        <input type="text" class="form-control" placeholder="Title" />
      </div>
    </div>
    <div class="row mx-auto p-0 m-0 mt-3">
      <div class="col-6 mx-auto">
        <select class="form-control">
          <option selected value="Select Character">Select Character</option>
        </select>
      </div>
    </div>
    <div class="row mx-auto p-0 m-0 mt-3">
      <div class="col-6 mx-auto">
        <textarea class="form-control" placeholder="Message" />
      </div>
    </div>
    <div class="col-2 mt-4 mx-auto">
      <button class="button-thunder btn-block">Sumbit</button>
    </div>
  </div>
</template>
