.auth-login-container {
    margin-top: 170px !important;
    padding: 0;
    background-color: var(--background-color3);
    border-radius: 15px;
    border: 1.5px solid var(--scarpa-flow);
    .auth-login-title {
        font-size: 30px;
        color: var(--white);
        font-weight: 500;
    }
}
