<template>
  <div class="col-12 homepage-header-container d-flex align-items-center p-0">
    <div v-if="route === 'HomePage'" class="row slider-image-row m-0">
      <div class="col-12 slider-image-col p-0">
        <VueSlickCarousel v-bind="settings"
          >>
          <img
            class="slider-img kenburns-bottom"
            src="../../../../assets/images/header/1.jpg"
            alt=""
          />
          <img
            class="slider-img kenburns-bottom"
            src="../../../../assets/images/header/2.jpg"
            alt=""
          />
        </VueSlickCarousel>
      </div>
    </div>
    <div class="row mx-auto d-flex align-items-center homepage-header-row">
      <div class="col-4"><span class="homepage-header-logo">logo</span></div>
      <div class="col-4 text-center">
        <router-link tag="span" to="/" class="homepage-header-name"
          >HOPS</router-link
        >
      </div>
      <div class="col-4">
        <div class="row d-flex justify-content-end">
          <router-link
          tag="div"
          to="/consignment"
            class="
              col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0
              header-marketplace
            "
          >
            Marketplace
          </router-link>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0">
            <div class="header-login-dropdown-container d-flex justify-content-center">
              <span
                @click="showAuth = !showAuth"
                class="homepage-header-auth dropdown-title"
                >Auth</span
              >
              <div class="header-login-dropdown-items" :class="{'auth-active': showAuth}">
                <div class="row dropdown-items">
                  <div class="col-12 text-center">Sign In</div>
                </div>
                <div class="row mx-auto dropdown-items">
                  <div class="col-10 mx-auto mt-3 p-0">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>
                  <div class="col-10 mx-auto mt-4 p-0">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Password"
                    />
                  </div>
                  <div class="col-8 mx-auto mt-4">
                    <button class="button-thunder btn-block">Confirm</button>
                  </div>
                </div>
                <div class="row mx-auto dropdown-items">
                  <router-link
                    tag="span"
                    to="/auth/register"
                    class="homepage-header-auth text-center mx-auto mt-3"
                    >or Sign Up</router-link
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="
              col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0 m-0
              header-dropdown-col d-flex justify-content-center
            "
          >
            <span class="header-dropdown-title">Username</span>
            <ul class="header-dropdown-ul">
              <router-link tag="li" to="/profile/home" class="header-dropdown-li">Profile</router-link>
              <li class="header-dropdown-li">Logout</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
export default {
  components: {
    VueSlickCarousel
  },
  data: () => ({
    settings: {
      dots: false,
      edgeFriction: 0.35,
      infinite: true,
      speed: 700,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 2000,
      draggable: false,
      accessibility: false,
      fade: true,
      lazyLoad: 'ondemand'
    },
    showAuth: false
  }),
  computed: {
    route () {
      return this.$route.name
    }
  }
}
</script>
