<template>
  <div class="row m-0 p-0">
    <home-page-header/>
    <router-view />
  </div>
</template>
<script>
import HomePageHeader from '@/components/elements/shared/headers/homePageHeader.vue'
export default {
  components: {
    HomePageHeader
  }
}
</script>
