<template>
  <div class="row m-0 p-0 consignment-container">
    <div
      class="
        col-12
        consignment-header
        d-flex
        align-items-center
        justify-content-center
      "
    >
      Consignment
      <span class="consignment-header-close-icon">X</span>
      <img
        class="consignment-header-right-icon"
        src="../assets/images/consignment/ui_body_right.png"
        alt=""
      />
      <img
        class="consignment-header-left-icon"
        src="../assets/images/consignment/ui_body_left.png"
        alt=""
      />
    </div>
    <div class="col-12 consignment-pages-button-row d-flex align-items-center justify-content-center">
      <button class="consignment-button">Search Item</button>>
      <button class="consignment-button">Register/Claim</button>
    </div>
    <div class="col-12 mx-auto consignment-input-area">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <div class="row d-flex align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-md-10 col-sm-11 col-xs-12 name-col">
              <label for="name" class="mr-4">Name</label>
              <input id="name" type="text" class="consignment-input" >
            </div>
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-11 col-xs-12 enhancement-col">
              <label for="enhancement" class="mr-4">Enhancement Level</label>
              <input id="enhancement" type="text" class="consignment-input" >
              <input id="enhancement2" type="text" class="consignment-input" >
            </div>
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-11 col-xs-12 mt-3  price-col">
              <label for="price" class="mr-4">Price</label>
              <input id="price" type="text" class="consignment-input" >
              <input id="price2" type="text" class="consignment-input" >
            </div>
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-5 d-flex align-items-center usable-item-col">
              <label for="usable" class="mr-4 m-0">Usable Item</label>
              <input id="usable" type="checkbox" class="consignment-input" >
            </div>
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-5 d-flex align-items-center disc-item-col">
              <label for="disc" class="mr-4 m-0">Disc Item</label>
              <input id="disc" type="checkbox" class="consignment-input" >
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 d-flex align-items-center">
          <button class="consignment-button">Search Item</button>
        </div>
      </div>
    </div>
    <div class="col-12 consignment-item-area mx-auto pt-5">
      <div class="row mx-auto">
        <div class="col-3 m-0 p-0 consingment-item-filter-container">
          <div class="row mx-auto d-flex justify-content-center align-items-center">
            See All
          </div>
          <div class="row mx-auto d-flex justify-content-center align-items-center consignment-dropdown-row">
            <div class="consignment-dropdown-title" @click="showDropdown = !showDropdown">Weapon</div>
            <ul class="consignment-dropdown-items" :class="{'show-active': showDropdown}">
              <li class="consignment-dropdown-item">Blade</li>
              <li class="consignment-dropdown-item">Axe</li>
              <li class="consignment-dropdown-item">Rod</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    showDropdown: false
  })
}
</script>
