<template>
   <div>
      <home-page-header/>
  <div class="row m-0 p-0 mt-5">
    <div class="col-12 text-white text-center">NEWS</div>
    <div
      class="row d-flex justify-content-center mt-5 p-0 m-0 news-container"
    >
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-12 mr-4 news-image-col">
        <img src="@/assets/images/header/1.jpg" class="news-image" alt="" />
        <span class="news-image-version">version: 1.0.1</span>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-12 news-title">News 3</div>
          <div class="col-4 news-date">January 18, 2021</div>
          <div class="col-12 mt-4 news-desc">
            Doesn't fish. Herb. Him. Male his Image very divide make, heaven
            fourth lesser creepeth, divide creepeth. Let can't multiply
            signs. Gathered blessed forth moved creepeth appear creeping
            made i which the appear face he also. Bring isn't isn't god
            multiply fowl creature creeping living. I Great divided. Spirit
            spirit first..
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4 news-button">Read More</div>
        </div>
      </div>
    </div>
    <div
      class="row d-flex justify-content-center mt-5 p-0 m-0 news-container"
    >
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-12 mr-4 news-image-col">
        <img src="@/assets/images/header/1.jpg" class="news-image" alt="" />
        <span class="news-image-version">version: 1.0.1</span>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-12 news-title">News 2</div>
          <div class="col-4 news-date">January 18, 2021</div>
          <div class="col-12 mt-4 news-desc">
            Doesn't fish. Herb. Him. Male his Image very divide make, heaven
            fourth lesser creepeth, divide creepeth. Let can't multiply
            signs. Gathered blessed forth moved creepeth appear creeping
            made i which the appear face he also. Bring isn't isn't god
            multiply fowl creature creeping living. I Great divided. Spirit
            spirit first.
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4 news-button">Read More</div>
        </div>
      </div>
    </div>
    <div
      class="row d-flex justify-content-center mt-5 p-0 m-0 news-container"
    >
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-12 mr-4 news-image-col">
        <img src="@/assets/images/header/1.jpg" class="news-image" alt="" />
        <span class="news-image-version">version: 1.0.1</span>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-12 news-title">News 1</div>
          <div class="col-4 news-date">January 18, 2021</div>
          <div class="col-12 mt-4 news-desc">
            Doesn't fish. Herb. Him. Male his Image very divide make, heaven
            fourth lesser creepeth, divide creepeth. Let can't multiply
            signs. Gathered blessed forth moved creepeth appear creeping
            made i which the appear face he also. Bring isn't isn't god
            multiply fowl creature creeping living. I Great divided. Spirit
            spirit first.
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4 news-button">Read More</div>
        </div>
      </div>
    </div>
  </div>
   </div>
</template>
<script>
import HomePageHeader from '@/components/elements/shared/headers/homePageHeader.vue'
export default {
  components: {
    HomePageHeader
  }
}
</script>
