<template>
  <div class="row m-0 p-0 profile-container">
    <HomePageHeader/>
    <ProfileHeader />
    <router-view />
  </div>
</template>
<script>
import ProfileHeader from '@/components/elements/profile/shared/profileHeader.vue'
import HomePageHeader from '@/components/elements/shared/headers/homePageHeader.vue'
export default {
  components: {
    ProfileHeader,
    HomePageHeader
  }
}
</script>
