<template>
    <img :class="pClass" :src="require(`@/assets/images/${this.src}`)" :alt="alt">
</template>
<script>
export default {
  props: {
    src: {
      type: String,
      require: true,
      default: ''
    },
    alt: {
      type: String,
      require: true,
      default: 'img'
    },
    pClass: {
      type: String,
      default: ''
    }
  }
}
</script>
