<template>
  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10 mt-5 mx-auto auth-login-container">
    <div class="col-12 text-center mt-5 auth-login-title">Login</div>
    <div class="row">
      <div class="col-6 mx-auto mt-5 mb-5">
        <input type="text" class="form-control" placeholder="Username" />
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto mt-1 mb-5">
        <input type="text" class="form-control" placeholder="Password" />
      </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 mx-auto">
            <button class="button-thunder btn-block">Login</button>
        </div>
    </div>
    <div class="row mx-auto mb-5">
      <div class="col-12 text-center text-white">
        Don't have an account, <router-link class="router-link-span" tag="span" to="/auth/register" >Sign Up</router-link>
      </div>
    </div>
  </div>
</template>
