<template>
  <div
    class="
      col-xl-4 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10
      mt-5
      mx-auto
      auth-register-container
    "
  >
    <div class="col-12 text-center mt-5 auth-register-title">Register</div>
    <div class="row">
      <div class="col-6 mx-auto mt-5 mb-3">
        <input type="text" class="form-control" placeholder="Username" />
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto mt-1 mb-3">
        <input type="text" class="form-control" placeholder="Email" />
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto mt-1 mb-3">
        <input type="text" class="form-control" placeholder="Password" />
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto mt-1 mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Confirm Password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto mt-1 mb-5">
        <input type="text" class="form-control" placeholder="İnvition Code" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4 mx-auto">
        <button class="button-thunder btn-block">Login</button>
      </div>
    </div>
    <div class="row mx-auto mb-5">
      <div class="col-12 text-center text-white">
        Do have an account,
        <router-link class="router-link-span" tag="span" to="/auth/login"
          >Sign In</router-link
        >
      </div>
    </div>
  </div>
</template>
