:root {
    --asphalt: #120705;
    --red-robin: #753d20;
    --sidecar: #f2ddb6;
    --van-cleef: #451a0b;
    --squirrel: #8f877a;
    --armadillo: #50473e;
    --mamba: #837c84;
    --matterhorn: #493b44;

    --abbey: #4d5154;
    --oil: #221912;
    --tan: #cfa687;
    --cement: #8a7264;
    --acapulco: #84bba2;
    --viridian-green: #638478;

    --wild-blue: #8291b5;
    --east-bay: #4b568f;
    --elephant: #112a3f;

    --cotton-seed: #c1bdb5;
    --heavy-metal: #23251f;
    --tobacco-brown: #776949;
    --judge-gray: #4d492d;
    --sage: #8fa172;
    --manatee: #8d8f97;
    --green-kelp: #334628;
    --medium-carmine: #ac3e3c;
    --chalet-green: #556734;
    --scarpa-flow: #555361;

    --zeus: #1e1712;
    --coral-reef: #c6b8a3;
    --coffee: #77695b;
    --taupe: #4c3e35;
    --lemon-grass: #8e9882;
    --hemlock: #56603e;
    --eternity: #140c08;
    --gun-powder: #48445a;

    --white: #fff;
    --black: #000;

    --thunder: #362131;
    --thunder-dark: #2c1d28;
    --copper: #c7723e;
    --copper-dark: #c46b34;

    --header: #282535;
    --body: #201c2c;
    --background-color1: #262335;
    --background-color2: var(--eternity);
    --background-color3: #282535;
    --background-color4: #353146;
    --background-color4-light: #3c384e;

    --hover-color: #7d699a;
    --hover-color50: #7d699a50;

    --consignment-bg-dark: #241c18;
    --consignment-bg-light: #241c1895;
    --consignment-input-bg: #473c33;
    --consignment-border: #726254;
    --consignment-color: #cac4b0;
    --button-bg: #262120;
    --button-boder: #27201b;
    --consignment-hover-color: #ffff00;
}

@font-face {
    font-family: heroEN;
    src: url("./fonts/HeroNotice.ttf");
}
@font-face {
    font-family: heroTR;
    src: url("./fonts/HeroNoticeB.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: var(--body);
    font-family: heroEN;
}

.router-link-span {
    cursor: pointer;
    color: var(--white);
    &:hover {
        color: var(--red-robin);
    }
}

::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(50, 50, 50);
}
::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
    margin-block: 5px;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border: 4px rgb(50, 50, 50) solid;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(175, 175, 175);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(150, 150, 150);
}
