@media screen and (max-width: 991px) {
    .enhancement-col{
        margin-top: 5px;
        label{
            display: block;
        }
    }
    .price-col{
        margin-top: 5px;
        label {
            display: block;
        }
    }
}

@media screen and (max-width: 991px) {
    .news-image-col{
        margin-right: 0px !important;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-icon{
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .homepage-header-row{
        display: none !important;
    }
    .mobile-menu-icon{
        display: block !important;
    }
    .news-image-col{
        margin-bottom: 15px !important;
    }
    .news-title{
        text-align: center !important;
    }
    .news-desc{
        font-size: 14px !important;
    }
    .news-button{
        font-size: 16px !important;
    }
}
