.mobile-menu-icon {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
}

.mobile-menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: 3;
    .mobile-menu-items {
        width: 80%;
        height: 100%;
        position: absolute;
        z-index: 3;
        background-color: var(--background-color3);
        .mobile-menu-close-icon {
            position: absolute;
            top: 30px;
            right: 30px;
        }
        .mobile-menu-title-row {
            margin-top: 60px;
            .mobile-menu-title {
                color: white;
                font-size: 30px;
                font-weight: 500;
            }
        }
        .mobile-menu-nav-row {
            margin-top: 50px;
            .mobile-menu-ul {
                .mobile-menu-li {
                    color: white;
                    list-style: none;
                    margin-top: 20px;
                }
            }
        }
    }
    .mobile-menu-blur {
        width: 20.5%;
        height: 100%;
        right: 0px;
        position: absolute;
        -webkit-filter: blur(8px);
        filter: blur(8px);
        background-color: rgba(31, 29, 41, 0.9);
        z-index: 2;
    }
}
.mobile-menu-active {
    transform: translateX(0%);
}
.mobile-menu-passive {
    transform: translateX(-150%);
}

.mobile.menu-active-body {
    overflow: hidden;
}
