<template>
  <div id="app" class="container-fluid m-0 p-0">
    <MobileMenu />

    <router-view />
  </div>
</template>
<script>
import MobileMenu from '@/components/elements/shared/Mobile/MobileMenu.vue'
export default {
  components: {
    MobileMenu
  }
}
</script>
