<template>
  <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 m-0 p-0">

    <section
      class="row m-0 p-0 profile-information-row mx-auto"
      :class="{ 'active-show': route === '/profile/home' }"
    >
      <ProfileHome />
    </section>
    <section
      class="row m-0 p-0 profile-character-row mx-auto"
      :class="{ 'active-show': route === '/profile/characters' }"
    >
      <Characters />
    </section>
    <section
      class="row m-0 p-0 profile-messages-row mx-auto"
      :class="{
        'active-show':
          route === '/profile/messages' ||
          route === '/profile/messages/inbox' ||
          route === '/profile/messages/new-ticket'
      }"
    >
      <MessageNavbar />
      <section
        class="row m-0 p-0 profile-messages-inbox-row mx-auto"
        :class="{ 'active-show': route === '/profile/messages/inbox' }"
      >
        <MessageInbox />
      </section>
      <section
        class="row m-0 p-0 profile-messages-new-ticket-row mx-auto"
        :class="{ 'active-show': route === '/profile/messages/new-ticket' }"
      >
        <MessageNewTicket />
      </section>
    </section>
    <section
      class="row m-0 p-0 profile-character-row mx-auto"
      :class="{ 'active-show': route === '/profile/settings' }"
    >
      <ProfileSettings />
    </section>
  </div>
</template>
<script>
import ProfileHome from '@/components/elements/profile/shared/profileHome.vue'
import Characters from '@/components/elements/profile/shared/profileCharacters.vue'

import MessageNavbar from '@/components/elements/profile/shared/Messages/buttons.vue'
import MessageInbox from '@/components/elements/profile/shared/Messages/inbox.vue'
import MessageNewTicket from '@/components/elements/profile/shared/Messages/newTicket.vue'

import ProfileSettings from '@/components/elements/profile/shared/profileSettings.vue'
export default {
  components: {
    ProfileHome,
    Characters,
    MessageNavbar,
    MessageInbox,
    MessageNewTicket,
    ProfileSettings
  },
  computed: {
    route () {
      return this.$route.path
    }
  }
}
</script>
